<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../overrides/styles.css">
<link rel="stylesheet" href="../assets/stylesheets/quick_start.css">

<!-- Blue hero section with our mission statement -->
<div class="hero-section quick-start-heading">
  <center><h1>UArizona HPC Quick Start Guide</h1></center>
  <div>
  <p>Just getting started with our HPC and don't know where to start? You've found the place! This guide is intended to walk you through the basics of system use including: 
  <br><br>
  Have you registered yet? If not and you'd like to follow along with the practical examples shown below, sign up for an account using the instructions in our <a style="color: #E2E9EB;" href="../registration_and_access/account_creation/">Account Creation</a> page. 
  </div>
</div>



{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-footer-copyright">
                {% if config.copyright %}
                <div class="md-footer-copyright__highlight">
                    {{ config.copyright }}
                </div>
                {% endif %}
                University of Arizona Research Computing
            </div>
            {% block social %}
            {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}