.events-section {
    display: flex;
    height: 75vh;
}

.left-column {
    flex: 1.3;
    color: black;
    background-color: #E2E9EB ;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.2)), url('/assets/images/home/conference_background.jpg') center center fixed; */
    /*background-size: contain; /* Adjusts the background image size */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.right-column {
    flex: 2;
    padding: 20px;
    max-height: 75vh;
    overflow: auto;
    background-color: #E2E9EB ;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}


.event-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    #height: 140px;
    background-color:white;
}

.event-date {
    flex: 1;
    background-color: #001C48; /* Dark background color for the date */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-number {
    font-size: 3em;
}

.date-month {
    font-size: 1.8em;
}

.event-details {
    flex: 3;
    padding: 20px;
}

.event-details h3 {
    margin-top: 0;
    font-size: 18px;
}

.event-details p {
    margin-bottom: 0;
}

.register-button {
    background-color: #EF4056; /* Button color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px ; /* Add margin to create space between the button and the text above it */
}

.register-button:hover {
    background-color: #007D84; /* Button color on hover */
}

.content-container {
    border: 4px solid #001C48; /* Add thick blue border */
    padding: 20px; /* Add padding to create space between the text and the border */
    position: relative; /* Position relative to allow positioning of pseudo-elements */
}

.content-container::before,
.content-container::after {
    content: ''; /* Add content to the pseudo-elements */
    position: absolute; /* Position absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-container::before {
    border: 4px solid #001C48; /* Add thicker border */
    z-index: -1; /* Move the pseudo-element behind the text */
}

.content-container::after {
    border: 2px solid #001C48; /* Add thinner border */
    z-index: -2; /* Move the pseudo-element further behind */
}

/* Media query for screens smaller than or equal to 900px */
@media (max-width: 900px) {
    .events-section {
        flex-direction: column; /* Stack columns vertically */
        height: auto;
        align-items: stretch; /* Stretch columns to match height */
    }

    .left-column,
    .right-column {
        flex: 1; /* Each column occupies full width */
    }
    .right-column {
        overflow: visible; /* Allow content to extend beyond the column */
        height: auto;
        align-items: stretch; /* Stretch columns to match height */
    }
}