/* styles.css (main stylesheet) */
@import "buttons.css";

@media screen and (max-width: 600px) {
    /* Styles for small screens (e.g., mobile) */
}

.hero-section {
  padding: 20px 10%;
  padding-bottom: 60px;
  border: none;
}

.quick-start-heading {
  background-color: #00266E;
  color: #f6f7fb;
}